<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Love by Cakes</title>
    </head>
    <body>
        <section th:fragment="listadoProductos" id="productos">
            <div class="container">
                <div class="row row-cols-2" >
                    <h2 class="inline">[[#{index.nuestrosProductos}]]</h2>
                    <div id="resultsBlock"></div>
                </div>
                <div id="imageCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <img th:src="@{https://www.azucardominomex.com/sites/azucardominomex_com/files/2022-10/DOMINO_PASTEL-DE-CHOCOLATE-BRUCE2.jpg}" class="d-block w-100" style="object-fit: cover; height: 400px;" alt="Image 1">
                                    <p class="mt-2" style="background-color: #f5f5f5"> Celebra con sabor. Presentamos nuestro exquisito Pastel de Chocolate Love by Cakes.
                                        Un deleite irresistible para tus sentidos.<br> ¡Ordénalo ahora y déjate llevar por el placer del chocolate!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <img th:src="@{https://images.pexels.com/photos/3065592/pexels-photo-3065592.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1}" class="d-block w-100" style="object-fit: cover; height: 400px;" alt="Image 2">
                                    <p class="mt-2" style="background-color: #f5f5f5"> Descubre la perfección en cada bocado. Nuestra Tarta de Manzana Love by Cakes es un equilibrio exquisito
                                        entre lo dulce y lo ligeramente ácido.<br> ¡Déjate cautivar por su sabor fresco y auténtico!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <img th:src="@{https://images.pexels.com/photos/5594501/pexels-photo-5594501.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1}" class="d-block w-100" style="object-fit: cover; height: 400px;" alt="Image 3">
                                    <p class="mt-2" style="background-color: #f5f5f5"> La tentación se llama Pastel de Zanahoria Love by Cakes. Disfruta de la esponjosidad y el sabor inigualable
                                        de este clásico reinventado.<br> ¡Regálate un momento de placer con cada delicioso trozo!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <img th:src="@{https://images.pexels.com/photos/5419108/pexels-photo-5419108.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1}" class="d-block w-100" style="object-fit: cover; height: 400px;" alt="Image 4">
                                    <p class="mt-2" style="background-color: #f5f5f5"> Refresca tus sentidos con la Tarta de Limón Love by Cakes. La combinación perfecta entre lo cítrico y lo dulce,
                                        ideal para cualquier ocasión.<br> ¡Experimenta un sabor que te hará sonreír!</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <img th:src="@{https://images.pexels.com/photos/3776939/pexels-photo-3776939.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1}" class="d-block w-100" style="object-fit: cover; height: 400px;" alt="Image 5">
                                    <p class="mt-2" style="background-color: #f5f5f5"> Pequeños bocados de elegancia y sabor.<br> Nuestros Macarons de Frambuesa Love by Cakes son una delicia irresistible
                                            que te transportará a un mundo de sabores sutiles y sofisticados.</p>
                            </div>
                        </div>
                        <!-- Agrega más elementos carousel-item para más imágenes -->
                    </div>
                    <a class="carousel-control-prev" href="#imageCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#imageCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
                <div class="row row-cols-3" 
                     th:if="${productos != null and !productos.empty}">
                    <div class="card" th:each="producto : ${productos}">
                        <div class="card-body">
                            <h5 class="card-title">[[${producto.descripcion}]]</h5>
                            <figure>
                                <img th:src="@{${producto.rutaImagen}}" height="200"/>
                                <figcaption>[[${producto.precio}+' ('+${producto.existencias}+')']]
                                </figcaption>
                            </figure>
                            <form>
                                <input type="hidden" name="texto" th:value="${producto.idProducto}"/>
                                <input type="hidden" name="texto" th:value="${producto.existencias}"/>
                                <button class="btn btn-ligth" id="addCar" 
                                        name="addCar" onclick="addCard(this.form)" 
                                        type="button"><i class="fas fa-cart-plus"></i></button>
                            </form>
                            <p class="card-text">[[${producto.detalle}]]</p>                            
                        </div>
                    </div>
                </div>
                <div th:if="${productos == null or productos.empty}">
                    [[#{carrito.no_mostrar}]]</div>
            </div>
        </section>

        <div th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}">            
            <form action="/carrito/listado">
                <button
                    type="submit"
                    class="btn btn-primary">
                    <i class="fas fa-cart-plus"></i>
                    [[#{carrito.verCarrito}]] [[${listaTotal}]]
                </button>
            </form>
        </div>     

        <section th:fragment="listadoCarrito" id="items">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{carrito.titulo}]]</h4>
                            </div>
                            <div th:if="${items != null and !items.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th>[[#{producto.descripcion}]]</th>
                                            <th>[[#{producto.precio}]]</th>
                                            <th>[[#{carrito.cantidad}]]</th>
                                            <th>[[#{carrito.total}]]</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="item, contador : ${items}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${item.descripcion}]]</td>
                                            <td class="text-end">[[${item.precio}]]</td>
                                            <td class="text-center">[[${item.cantidad}]]</td>
                                            <td class="text-center">[[${item.cantidad*item.precio}]]</td>
                                            <td>
                                                <a th:href="@{/carrito/eliminar/}+${item.idProducto}"
                                                   class="btn btn-danger">
                                                    <i class='fas fa-trash'></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a th:href="@{/carrito/modificar/}+${item.idProducto}"
                                                   class="btn btn-success">
                                                    <i class='fas fa-pencil'></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${items== null or items.empty}">
                                [[#{carrito.no_mostrar}]]
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-primary text-white mb-3">
                            <div class="card-body">
                                <h3>[[#{carrito.totalCompra}]]</h3>
                                <h4 class="fs-4">
                                    [[${carritoTotal}]]
                                </h4>
                            </div>
                        </div>
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <a th:href="@{/}"
                                   class="btn btn-success">
                                    <i class='fas fa-reply'></i> [[#{carrito.seguirComprando}]]
                                </a>
                            </div>
                        </div>
                        <div class="card text-center bg-info text-white mb-3">
                            <div class="card-body">
                                <a th:href="@{/facturar/carrito}"
                                   class="btn btn-info">
                                    <i class='fas fa-fordward'></i> [[#{carrito.facturar}]]
                                </a>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>